<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400&family=Roboto+Slab&family=Work+Sans:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="nav-bar">
        <a href="home.html">Products</a>
        <a href="storefinder">Store finder</a>
        <a href="about">About</a>
        <a href="#">Contact</a>
        <a href="downloads">Downloads</a>
        
        <form class="form">
          <label for="opmerking">Opmerking</label>
          <input type="text" id="opmerking" name="opmerking" value="">
          <input type="submit" value="Submit">
        </form> 
  </body>
</html>
