<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;400&family=Roboto+Slab&family=Work+Sans:ital,wght@0,300;1,300&display=swap"
      rel="stylesheet"views
    />
  </head>
  <script src="/search.js"></script>
  <body>
    <div class="nav-bar">
      <a href="#">Products</a>
      <a href="storefinder">Store finder</a>
      <a href="about">About</a>
      <a href="contact.html">Contact</a>
      <a href="downloads">Downloads</a>
    </div>

    <div class="mid-section">
      <h1 class="h1-products">Products</h1>
      <input
        placeholder="Search for product"
        name="searchInput"
        type="text"
        id="find"
        onkeyup="search()"
      />
      <i class="fa-thin fa-arrow-right"></i>
    </div>
    

    <div class="product-gallery-row1">
      <div class="product">
        <h3>dining</h3>
        <img
          src="/assets_opdracht/assets_opdracht/dining1.png"
          alt="dining"
          width="250"
          height="300"
        />
      </div>

      <div class="product">
        <h3>black bottle</h3>
        <img
          src="/assets_opdracht/assets_opdracht/dining2.png"
          alt="dining"
          width="250"
          height="300"
        />
      </div>

      <div class="product">
        <h3>light</h3>
        <img
          src="/assets_opdracht/assets_opdracht/lamp1.png"
          alt="dining"
          width="250"
          height="300"
        />
      </div>

      <div class="product">
        <h3>chair</h3>
        <img
          src="/assets_opdracht/assets_opdracht/stoel1.png"
          alt="dining"
          width="250"
          height="300"
        />
      </div>

      <div class="product">
        <h3>chair</h3>
        <img
          src="/assets_opdracht/assets_opdracht/stoel3.png"
          alt="dining"
          width="250"
          height="300"
        />
      </div>

      <div class="product">
        <h3>dining</h3>
        <img
          src="/assets_opdracht/assets_opdracht/dining4.png"
          alt="dining"
          width="250"
          height="300"
        />
      </div>
    </div>

    <div class="product-gallery-row2">
      <div class="product">
        <h3>couch</h3>
        <img
          src="/assets_opdracht/assets_opdracht/meubel1.jpg"
          alt="dining"
          width="250"
          height="300"
        />
      </div>

      <div class="product">
        <h3>couch</h3>
        <img
          src="/assets_opdracht/assets_opdracht/meubel2.jpg"
          alt="dining"
          width="250"
          height="300"
        />
      </div>

      <div class="product">
        <h3>chair</h3>
        <img
          src="/assets_opdracht/assets_opdracht/stoel4.png"
          alt="dining"
          width="250"
          height="300"
        />
      </div>

      <div class="product">
        <h3>light</h3>
        <img
          src="/assets_opdracht/assets_opdracht/lamp3.png"
          alt="dining"
          width="250"
          height="300"
        />
      </div>

      <div class="product">
        <h3>dining</h3>
        <img
          src="/assets_opdracht/assets_opdracht/dining3.png"
          alt="dining"
          width="250"
          height="300"
        />
      </div>

      <div class="product">
        <h3>couch</h3>
        <img
          src="/assets_opdracht/assets_opdracht/meubel3.png"
          alt="dining"
          width="250"
          height="300"
        />
      </div>
    </div>
  </body>
</html>
