* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "League Spartan", sans-serif;
  font-family: "Roboto Slab", serif;
  font-family: "Work Sans", sans-serif;
}

a:link {
  text-decoration: underline;
  padding-right: 30px;
  color: black;
  transition: 0.5s;
}
a:hover {
  font-size: 1.3rem;
  transition: 0.5s;
}
.nav-bar {
  text-align: center;
  width: 100vw;
  padding-top: 60px;
  padding-bottom: 60px;
}
.mid-section {
  padding-top: 40px;
  text-align: center;
  background-color: #d3d3d3;
  height: 350px;
}

.input{
  height: 35px;
  width: 25%;
}

h1 {
  text-decoration: none;
  text-decoration-thickness: 1px;
}

.search {
  margin-top: 80px;
  
}
.product-gallery-row1 {
  width: 100vw;
  display: flex;
  flex-direction: row;
  padding-top: 80px;
}
.product-gallery-row2 {
  width: 100vw;
  display: flex;
  flex-direction: row;
  padding-top: 80px;
}

input {
  margin-top: 80px;
}
img {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
}
.product {
  text-align: center;
}
h3 {
  padding: 25px;
}
